<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Vansh D.A</title>
</head>
<body>
    <nav id="navbar"> 
        <ul> 
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/class">Class info</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/sponsors">Our sponsors</a></li>
        </ul>
        <hr>
      </nav>
      <nav id="header"> 
        <ul> 
          <li><a href="/">Courses:</a></li>
          <li><a href="/hiphop">Hiphop</a></li>
          <li><a href="/belly">Belly</a></li>
          <li><a href="/break">Break dance </a></li>
          <li><a href="/salsa">Salsa</a></li>
          <li><a href="/tap">Tap dance</a></li>
          <li><a href="/folk">Folk dance</a></li>
          <li><a href="/jazz">Jazz</a></li>
        </ul>
      </nav>
      <section id="intro"> 
        <div> welcome to vansh`s dance academy </div>
        <div>join us now! </div>
      </section>
      <section id="sp"> 
        <h2>Our sponsors </h2>
        <div id="clint"><img class="spimg" src="../static/logo/mic.png" alt=""><img class="spimg" src="../static/logo/face.png" alt=""><img class="spimg" src="../static/logo/app1.png" alt=""><img class="spimg" src="../static/logo/inst.jpg" alt=""></div>
      </section>
      <div class="fom">
        <h2>Fill this form!!</h2><form action="/" method="post">
  <input type="text" name="name" id="name" placeholder="enter your name">
  <input type="text" name="age" id="age" placeholder="enter your age">
  <input type="text" name="gender" id="gender" placeholder="enter your gender">
  <textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address"></textarea>

  </form>
      </div>
      <footer id="footer">COPYRIGTH &copy 2019 ,  ALL RIGTHS ARE RESERVED BY WWW.DANCE INDIA.COM 
        <h3>Follow us on :</h3>
        <div class="img"><img src="../static/logo/face.png" alt=""></div>
      </footer>
    </body>
</body>
</html>