<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Services.css">
    <title>Services</title>
</head>
<body>
    <nav id="navbar"> 
        <ul> 
           <li><a href="/home">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/class">Class info</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/sponsors">Our sponsors</a></li>
        </ul>
        <hr>
      </nav>
      <nav id="header"> 
        <ul> 
          <li><a href="/">Courses:</a></li>
          <li><a href="/hiphop">Hiphop</a></li>
          <li><a href="/belly">Belly</a></li>
          <li><a href="/break">Break dance </a></li>
          <li><a href="/salsa">Salsa</a></li>
          <li><a href="/tap">Tap dance</a></li>
          <li><a href="/folk">Folk dance</a></li>
          <li><a href="/jazz">Jazz</a></li>
        </ul>
      </nav>

    <section id="services">
      <div id="container1">
          <div class="boxes">
            <h2>Courses</h2>
            <ol>
              <li>Hiphop</li>
              <li>Belly</li>
              <li>Break dance</li>
              <li>Salsa</li>
              <li>Tap dance</li>
              <li>Folk dance</li>
              <li>Jazz</li>
            </ol>
          </div>
          <div class="boxes">
            <h2>Extra class</h2>
            <ol>
              <li>Sunday</li>
              <li>Satarday</li>
              
            </ol>
          </div>
            <div class="boxes">
            <h2>Best teacher</h2>
            <ol>
              <li>Mr.Ram</li>
             <li>Mr.Subahm</li>
              <li>Mr.A</li>
              <li>Mr.K</li>
              <li>Mr.R</li>
              <li>Mr.P</li>
              <li>Mrs.Key</li>
            </ol>
          </div>

      </div>
      <div id="container2">
          <div class="boxes">
            <h2>Timing</h2>
            <ol>
              <li>8:00AM TO 10:00AM</li>
              <li>12:00PM TO 4:00PM</li>
              <li>5:00PM TO 8:00PM</li>
            </ol>
          </div>
          <div class="boxes">
            <h2>Transport</h2>
            <ol>
              <li>Bus</li>
              <li>Van</li>
              
            </ol>
          </div>
            <div class="boxes">
            <h2>Food</h2>
            <ol>
              <li>2 Times in a day</li>
             <li>Proteins</li>
             <li>Fats</li>
             
            </ol>
          </div>

      </div>
    </section>

      <footer id="footer">COPYRIGTH &copy 2019 ,  ALL RIGTHS ARE RESERVED BY WWW.DANCE INDIA.COM 
        <h3>Follow us on :</h3>
        <div class="img"><img src="../static/logo/face.png" alt=""></div>
      </footer>
    </body>
</body>
</html>